/*  SECTIONS  */
body, html { height: 100%; }
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
    height: 100%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_1 {
    height: 100%;
    width: 32.26%;
    padding: 4px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.span_2 { width: 30.26%;}

/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}